############################################################
#
#modify history             author              date                               reason
#DTS2011120101830     z00185222       2011/12/01                    add bcm4330 bluez code to ICS version
#DTS2011111202173     l00188955       2011/11/14                    add syslog for kernel
#DTS2011120400489     p00185344		  2011/12/04					add bcm4330 wifi  code to ICS version
#DTS2011120807567     y00197631       2011/12/08                    add audience
#DTS2011121502991     l00186011           2011/12/15          modify file access mode for Projectmenu
#DTS2011121504131     p00185344   2011/12/15   Merge WiFi-Direct into ICS E2
#DTS2011121307804     x00186570	      2011/12/16          change for managing modem image
#DTS2011120105354       z00192837             20111206               merge the funtion of FM on ICS
#DTS2011122007433    l00186420    20111220      change the permissions for ProjectMenuAct
#DTS2011120901669     y00197631       2011/12/21                    add audio parameters for front
#DTS2011122703394     d00186307           20111227            kernel boot time optimize
#DTS2011122003374     l00192645       2011/12/28                    add sleep log
#DTS2011122804252     z00192785           2011/12/29          merge cust scheme
#DTS2011122002914     j00181309           2011/12/20          add btla stack to ics
#DTS2012010703632     z00185222       2012/01/07                    enable FM after BTLA porting ok
#DTS2012010604888     l00192645       2012/01/07                    add charge log
#DTS2012011707420     z00183953           2012/01/18          add btla beta release stack to ics
#DTS2012011606883     c00116387           2012/01/30          add services for log dump and change directory
#DTS2012020401271     w00177577       2012/02/04         remove error comment
#DTS2012020908318     l00188955       2012-02-10              temproray modified to save logs on data directory
#DTS2012021200051     w00177577       2012-02-12     otg usb function
#DTS2012020301901     t00159244       2012-02-15              modemlogcat function
#DTS2012022107419     l00188955       2012-02-21              modify xmd-tty5 user and group to system
#DTS2012021603135        h58695       2012/02/16      add switch main storage location function
#DTS2012022307787     c00182898       2012/02/23	     modify MMI test open nve0 faild
#DTS2012022700841	  w00177577	      2012/02/27	remove scaling_governor/online file other group write pemission
#DTS2012021603135          h58695           2012/03/08          change internal sdcard path
#DTS2012031202529     p00188486       2012/03/12          Add cpu frequency optimization for power saving mode
#DTS2012032006359     c00116387           2012/03/20          close log services in init process
############################################################

import init.omap4460.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
	#DTS2012021200051     w00177577       2012-02-12     otg usb function
	export UDISK_MOUNTPOINT /mnt/usb
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

# create Ext SDcard mountpoint
#DTS2012021603135 h58695 begin
    export SECONDARY_STORAGE /mnt/ext_sdcard
    mkdir /mnt/ext_sdcard 0000 system system
#DTS2012021603135 h58695 end
	#DTS2012021200051     w00177577       2012-02-12     otg usb function
	mkdir /mnt/usb 0000 system system

on post-fs-data
    #DTS2012021603135 h58695 begin
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
#DTS2012021603135 h58695 begin
    mkdir /data/share 0775 media_rw media_rw
    chown media_rw media_rw /data/share
#DTS2012021603135 h58695 end
	mkdir /data/smc 0770 drmrpc drmrpc
        chown drmrpc drmrpc /data/smc/counter.bin
        chown drmrpc drmrpc /data/smc/storage.bin
        chown drmrpc drmrpc /data/smc/system.bin

	setprop vold.post_fs_data_done 1

on boot
	mount debugfs /sys/kernel/debug /sys/kernel/debug
	chmod 0666 /dev/pvrsrvkm
	chmod 0444 /system/usr/keychars/omap4-keypad.kcm.bin
	setprop ro.crypto.keyfile.userdata /dev/block/platform/omap/omap_hsmmc.1/by-name/crypto

# /*< DTS2012031202529 pengyu 20120312 begin */
# cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 700MHz, lpspeed 1200MHz
# initialize and change owner to system for power saving mode related device nodes
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system system /sys/devices/system/cpu/cpufreq/interactive/lpspeed_freq
	chown system system /sys/devices/system/cpu/cpufreq/interactive/lpspeed_enabled
	chown system system /sys/devices/omapdss/display0/cabc_mode
	chown system system /sys/module/pvrsrvkm/parameters/sgx_freq_restrict
	# DTS2012032406795 l00210892 20120326 begin
	chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
	chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
	# DTS2012032406795 l00210892 20120326 end

	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 700000
	write /sys/devices/system/cpu/cpufreq/interactive/lpspeed_freq 1200000
	write /sys/devices/system/cpu/cpufreq/interactive/lpspeed_enabled 0
# /* DTS2012031202529 pengyu 20120312 end >*/

# autosuspend root hubs immediatly after attached devices
	write /sys/bus/usb/devices/usb1/power/autosuspend_delay_ms 0
	write /sys/bus/usb/devices/usb2/power/autosuspend_delay_ms 0

# wi-fi
#<DTS2011121504131    p00185344   2011/12/15   Merge WiFi-Direct into ICS E2 begin
#<DTS2011120400489     p00185344		  2011/12/04					add bcm4330 wifi  code to ICS version begin	
    mkdir /data/misc/wifi 0770 wifi wifi
    chown wifi wifi /data/misc/wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chown wifi wifi /data/misc/wifi/p2p_supplicant.conf
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
#DTS2011120400489     p00185344		  2011/12/04					add bcm4330 wifi  code to ICS version end >
#DTS2011121504131    p00185344   2011/12/15   Merge WiFi-Direct into ICS E2 end >


# GPS
	insmod /system/lib/modules/gps_drv.ko

on fs
        mkdir /factory 0775 radio radio
	mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/system /system wait ro
	setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
	#DTS2011122804252 z00192785 2011-12-29 begin
	mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/cust /cust wait ro
	#DTS2011122804252 z00192785 2011-12-29 end
        #DTS2012011102409  z00176770 20110112 begin
        #DTS2012021007060  z00176770 20120210 begin
        mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata /data wait noatime nosuid nodev mblk_io_submit,data=writeback,commit=15,barrier=0,noauto_da_alloc,discard
        #DTS2012021007060  z00176770 20120210 end
        #DTS2012011102409  z00176770 20110112 end
	mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/cache /cache wait noatime nosuid nodev nomblk_io_submit
#/*<start: DTS2011122703394 d00186307 kernel boot time optimize*/
#	mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/efs /factory wait ro
#/*<end: DTS2011122703394 d00186307 kernel boot time optimize >*/
	setprop ro.crypto.fuse_sdcard true
# nvm
#DTS2011102902318 	w00177577	2011/10/29	front add nvm1 nvm2 partition begin
#DTS2011121307804    x00186570	2011/12/16   change for managing modem image begin
	mount rootfs rootfs / rw remount
	mkdir /modem
	mkdir /modem/modem_image
	mkdir /modem/nvm1
	mkdir /modem/nvm2
	mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/modemimage /modem/modem_image wait noatime nosuid nodev
	mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/modemnvm1 /modem/nvm1 wait noatime nosuid nodev
	mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/modemnvm2 /modem/nvm2 wait noatime nosuid nodev
	mount rootfs rootfs / ro remount
#DTS2011121307804    x00186570	2011/12/16   change for managing modem image end
#DTS2011102902318 	w00177577	2011/10/29	front add nvm1 nvm2 partition end

# change permissions for ION driver
    chmod 0777 /dev/ion

# We chown/chmod /factory because mount is run as root + defaults
	chown radio radio /factory
	chmod 0775 /factory

# add symlink for HDCP key
        symlink /factory/hdcp.keys /system/vendor/firmware/hdcp.keys
#<DTS2011120807567   y00197631    2011/12/08 begin
    chown media media /dev/audience_es305
	chown media media /dev/ttyO0
#DTS2011120807567   y00197631    2011/12/08  end

# /* DTS2011081605546 y00185015 Added begin for xgold-ril configuration  */
# change permissions for modem
    chmod 0660 /dev/xmd-tty0
    chmod 0660 /dev/xmd-tty1
    chmod 0660 /dev/xmd-tty2
    chmod 0660 /dev/xmd-tty3
    chmod 0660 /dev/xmd-tty4
    chmod 0660 /dev/xmd-tty5
    chmod 0660 /dev/xmd-tty6
    chmod 0660 /dev/xmd-tty7
    chmod 0660 /dev/xmd-tty8
    chmod 0660 /dev/xmd-tty9
    chmod 0660 /dev/xmd-tty10
    chmod 0660 /dev/xmd-tty11
#    chmod 0660 /dev/xmd-tty*

    chown radio radio /dev/xmd-tty0
    chown radio radio /dev/xmd-tty1
    chown radio radio /dev/xmd-tty2
    chown radio radio /dev/xmd-tty3
    chown radio radio /dev/xmd-tty4
# < DTS2012022107419 l00188955 2012-02-21 begin: modify user and group to system
    chown system system /dev/xmd-tty5
# DTS2012022107419 l00188955 2012-02-21 end >
# /* DTS2011122007433 l00186420 20111220 begin */
    chown system system /dev/xmd-tty6
# /* DTS2011122007433 l00186420 20111220 end */
    chown radio radio /dev/xmd-tty7
#<DTS2011120901669  y00197631   2011/12/21  begin
#    chown radio radio /dev/xmd-tty8
    chown media media /dev/xmd-tty8
#DTS2011120901669  y00197631   2011/12/21  end>
    chown radio radio /dev/xmd-tty9
    chown radio radio /dev/xmd-tty10
    chown radio radio /dev/xmd-tty11
#    chown radio radio /dev/xmd-tty*

# /* DTS2011122007433 l00186420 20111220 begin */
    chmod 0664 /sys/devices/platform/xmm_boot/state
# /* DTS2011122007433 l00186420 20111220 end */
    chmod 0660 /sys/devices/platform/xmm_boot/io
    chmod 0660 /sys/devices/platform/xmm_boot/power
    chown radio radio /sys/devices/platform/xmm_boot/state
    chown radio radio /sys/devices/platform/xmm_boot/io
    chown radio radio /sys/devices/platform/xmm_boot/power
# /* DTS2011081605546 y00185015 Added end for xgold-ril configuration */
    chmod 0660 /sys/devices/platform/xmm_boot/cp_shutdown
    chown radio radio /sys/devices/platform/xmm_boot/cp_shutdown
# change permissions for bq2416x_charger
     chmod 0660 /sys/bus/i2c/devices/1-006b/enable_charger
     chown system system /sys/bus/i2c/devices/1-006b/enable_charger
     chmod 0660 /sys/bus/i2c/devices/1-006b/calling_limit
     chown system system /sys/bus/i2c/devices/1-006b/calling_limit

#DTS2011102902318 	w00177577	2011/10/29	front add nvm1 nvm2 partition begin
#DTS2011121307804    x00186570	2011/12/16   change for managing modem image begin
    chmod 0660 /modem/modem_image/HWT6260.fls
    chmod 0660 /modem/nvm1/calib.nvm
    chmod 0660 /modem/nvm1/dynamic.nvm
    chmod 0660 /modem/nvm1/static.nvm
    chmod 0660 /modem/modem_image/HWT6260.fls.fls

    chown radio radio /modem/nvm1
    chown radio radio /modem/nvm2
    chown radio radio /modem/modem_image
    chown radio radio /modem/modem_image/HWT6260.fls
    chown radio radio /modem/nvm1/calib.nvm
    chown radio radio /modem/nvm1/dynamic.nvm
    chown radio radio /modem/nvm1/static.nvm
    chown radio radio /modem/modem_image/HWT6260.fls.fls
#DTS2011121307804    x00186570	2011/12/16   change for managing modem image end
#DTS2011102902318 	w00177577	2011/10/29	front add nvm1 nvm2 partition end

# /* DTS2011081602280 x00186570 20110826 change the permissions for flashless download app */
    chmod 0660 /sys/devices/virtual/usbswitch/usbsw/swstate

#<DTS2011121502991  l00186011 2011/12/15  modify file access mode for Projectmenu begin    
    chown system system /sys/devices/virtual/usbswitch/usbsw/swstate
# DTS2011121502991  l00186011 2011/12/15  modify file access mode for Projectmenu end>

    chmod 0660 /dev/ttyO0
    chmod 0660 /dev/xmd-boot0
    chown radio radio /dev/xmd-boot0

    chmod 0660 /sys/devices/platform/xmm_boot/flashless
    chmod 0660 /sys/devices/platform/xmm_boot/hsimode
    chmod 0660 /sys/devices/platform/xmm_boot/hsi_drvmode

    chown radio radio /sys/devices/platform/xmm_boot/flashless
    chown radio radio /sys/devices/platform/xmm_boot/hsimode
    chown radio radio /sys/devices/platform/xmm_boot/hsi_drvmode
# /* DTS2011081602280   x00186570 20110826 change the permissions for flashless download app */

# change permissions for Sensors
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/enable
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/delay
    chown system system /sys/devices/platform/sfh7741.1
    chown system system /sys/devices/platform/sfh7741.1/state
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/rate

# Change permissions on the governor (this is for debug only)
#<DTS2012022700841	w00177577	2012/02/27	remove scaling_governor file other group write pemission
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
#DTS2012022700841	w00177577	2012/02/27	remove scaling_governor file other group write pemission>
    chmod 666 /sys/kernel/debug/pm_debug/enable_off_mode
#<DTS2012022700841	w00177577	2012/02/27	remove online file other group write pemission
    chmod 664 /sys/devices/system/cpu/cpu1/online
#DTS2012022700841	w00177577	2012/02/27	remove online file other group write pemission>
    chmod 666 /proc/cmdline

#<DTS2011122002914 j00181309 2011/12/20 add btla stack to ics begin
# change permissions for Bluetooth/FM/GPS
    chmod 0644 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0644 /dev/ttyO1
    chown bluetooth bluetooth /dev/ttyO1
#DTS2011122002914 j00181309 2011/12/20 add btla stack to ics end>    

#<DTS2012020802054    j00181309       2012/02/08      bluetooth low power module begin
# change permissions for btld
    chmod 0644 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
#DTS2012020802054    j00181309       2012/02/08      bluetooth low power module end

#< DTS2012022307787 c00182898 Mmodify MMI test open nve0 faild add begin >
    chown system system /dev/nve0
    chmod 0660 /dev/nve0
#< DTS2012022307787 c00182898 modify MMI test open nve0 faild end >

# change permissions for S3D hardware
    chown system system /sys/devices/platform/omapdss/display0/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_type

service pvrsrvinit /vendor/bin/pvrsrvinit
	class core
	user root
	group root
	oneshot

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
		/dev/block/platform/omap/omap_hsmmc.1/by-name/cache \
		/dev/block/platform/omap/omap_hsmmc.1/by-name/userdata
        class core
        user root
        group root
        oneshot


#<DTS2011120101830     z00185222       2011/12/01                    add bcm4330 bluez code to ICS version begin
#shared transport user space mgr service for Bluetooth, FM and GPS
#service uim /system/bin/uim-sysfs
#	class core
#	user bluetooth
#	group bluetooth net_bt_admin
#DTS2011120101830     z00185222       2011/12/01                    add bcm4330 bluez code to ICS version end >

###################################################
# MSHIELD SMC Daemon - component required to store persistent data coming
#   from the SMC PA to the device persistent storage
###################################################
service tf_daemon /system/bin/tf_daemon \
    -d -c /vendor/etc/smc_normal_world_android_cfg.ini
    class main
    user root
    group root

###################################################
# MSHIELD SMC PA Control - installs the SMC PA into the Secure Environment
###################################################
service smc_pa /system/bin/smc_pa_ctrl \
    -c /vendor/etc/smc_normal_world_android_cfg.ini \
    start /vendor/firmware/smc_pa.ift
    class core
    user root
    group root
    oneshot

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/bugmailer.sh -v
	class main
	disabled
	oneshot
	keycodes 16 25

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
#DTS2012021603135 h58695 begin
service sdcard /system/bin/sdcard /data/share 1023 1023
    class late_start
#DTS2012021603135 h58695 end

#<DTS2011120400489     p00185344		  2011/12/04					add bcm4330 wifi  code to ICS version begin	
#<DTS2011121504131    p00185344   2011/12/15   Merge WiFi-Direct into ICS E2 begin 
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -puse_p2p_group_interface=1  \
        -e/data/misc/wifi/entropy.bin
#DTS2011121504131    p00185344   2011/12/15   Merge WiFi-Direct into ICS E2 end > 
       #   we will start as root and wpa_supplicant will switch to user wifi
        #   after setting up the capabilities required for WEXT
        #   user wifi
        #   group wifi inet keystore
        class main
        socket wpa_wlan0 dgram 660 wifi wifi
        disabled
        oneshot

service dhcpcd_ /system/bin/dhcpcd -ABKL
        class main
        disabled
        oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
        class main
        disabled
        oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
        class main
        disabled
        oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
        class main
        disabled
        oneshot

service iprenew_ /system/bin/dhcpcd -n
        class main
        disabled
        oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
        class main
        disabled
        oneshot

service iprenew_p2p /system/bin/dhcpcd -n
        class main
        disabled
        oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
        class main
        disabled
        oneshot
#DTS2011120400489     p00185344		  2011/12/04					add bcm4330 wifi  code to ICS version end >
# DTS2011111202173 l00188955 2011-11-14 begin: add syslog for kernel
#service syslogd /system/bin/syslogd
#    class core
#    user root
#    group system
#    oneshot

#service klogd /system/bin/klogd
#    class core
#    user root
#    group system
#    oneshot
# DTS2011111202173 l00188955 2011-11-14 end

#DTS2012032006359 modify C00116387 begin 
service rillogcat /system/bin/logcat -b radio -v time -r 4096 -n 10 -f /data/android_logs/rillogcat-log
    class logcat
    user root
    group system
    disabled

# applogcat is triggered by projectmenu or setprop
service applogcat /system/bin/logcat -v time -r 4096 -n 32 -f /data/android_logs/applogcat-log
    class logcat
    user root
    group system
    disabled

# kmsglogcat is triggered by projectmenu or setprop
service kmsglogcat /system/bin/kmsgcat -r 4096 -n 32 -f /data/android_logs/kmsgcat-log
    class logcat
    user root
    group system
    disabled

service sleeplogcat /system/bin/sleeplogcat -t 10 -p /data/android_logs/sleeplog/
    class sleeplog
    user root
    group system
    disabled

service chargelogcat /system/bin/chargelogcat -t 2 -p /data/android_logs/chargelog/
    class chargelog
    user root
    group system
    disabled

service modemlogcat /system/bin/modemlogcat -r 50 -n 9 -p /data/android_logs/modemlogs/
    class modemlog
    user root
    group system
    disabled
#DTS2012032006359 modify C00116387 end

service nvmlogcat /system/bin/logcat -v time -r 4096 -n 1 -f /data/android_logs/nvmlogcat-log -s nvm_server
    class main
    user root
    group root

on property:wlan.driver.status=ok
    chown wifi wifi /sys/devices/platform/wl1271/bt_coex_state

service navl_server /system/bin/navd --android_log NAVD  -p3 -nav\"-c/system/etc/gps/config/pathconfigfile.txt\"
	class main
	disabled
	oneshot

#<DTS2011122002914 j00181309 2011/12/20 delete for btla stack begin
#/*<DTS2011120105354 z00192837 20111220 begin*/
#service btld /system/bin/btld
#    user root
#    group bluetooth net_bt_admin system
#    disabled
#    oneshot
#/*DTS2011120105354 z00192837 20111220 end>*/	
#DTS2011122002914 j00181309 2011/12/20 delete for btla stack end>

#<DTS2011120101830     z00185222       2011/12/01                    add bcm4330 bluez code to ICS version begin
#<DTS2011122002914 j00181309 2011/12/20 delete for btla stack begin
#service bcm_hciattach /system/bin/brcm_patchram_plus --enable_hci --baudrate 3000000 --patchram /etc/bluetooth/BCM4330.hcd --no2bytes --tosleep=50000 /dev/ttyO1
#    user root
#    group bluetooth net_bt_admin system
#    disabled
#service hci_dev_up /system/bin/hci_dev_state --dev_up
#    user root
#    group bluetooth system
#    disabled
#    oneshot

#service hci_dev_down /system/bin/hci_dev_state --dev_down
#    user root
#    group bluetooth system
#    disabled
#    oneshot
#DTS2011122002914 j00181309 2011/12/20 delete for btla stack end>

service chip_power_on /system/bin/sh /system/etc/bluetooth/init.bcm.chip_on.sh
    user root
    group system
    disabled
    oneshot

service chip_power_off /system/bin/sh /system/etc/bluetooth/init.bcm.chip_off.sh
    user root
    group system
    disabled
    oneshot
#DTS2011120101830     z00185222       2011/12/01                    add bcm4330 bluez code to ICS version end >

#<DTS2011122002914 j00181309 2011/12/20 add btla stack to ics begin
#<DTS2012011707420 z00183953 2012/01/18 add btla beta release stack to ics begin
# dhcp service for pan-nap/pan-u     
service dhcpcd_brcm-pan /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service iprenew_brcm-pan /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

service btld /system/bin/logwrapper /system/bin/btld -lpm 1 -hb 3000000
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

# start btld if soft_onoff is enabled
on property:service.brcm.bt.soft_onoff=1
    start btld

# stop btld if soft_onoff is disabled
on property:service.brcm.bt.soft_onoff=0
    stop btld

#STOPSHIP: Remove logwrapper and -d option before production
service bluetoothd /system/bin/logwrapper /system/bin/bluetoothd -d -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
# init.rc does not yet support applying capabilities, so run as root and
# let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled
#DTS2012011707420 z00183953 2012/01/18 add btla beta release stack to ics end>
#DTS2011122002914 j00181309 2011/12/20 add btla stack to ics end>


#<DTS2012010703632     z00185222       2012/01/07                    enable FM after BTLA porting ok begin
service kbtld /system/bin/sh /system/etc/bluetooth/kill-btld.sh
	user root
	group system bluetooth
	disabled
	oneshot

service kbluetoothd /system/bin/sh /system/etc/bluetooth/kill-bluetoothd.sh
	user root
	group system bluetooth
	disabled
	oneshot
#DTS2012010703632     z00185222       2012/01/07                    enable FM after BTLA porting ok end >
